* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

img,a,span,button,input,i {
    display: inline-block;
}

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(to bottom left,crimson, orange,crimson);
    background: linear-gradient(to bottom right,crimson, orange,crimson);
    background-repeat: no-repeat;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 5rem;
    text-align: center;
}