* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

img,a,span,button,input,i {
    display: inline-block;
}

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(to bottom left, orange,crimson);
    background-repeat: no-repeat;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 5rem;
    text-align: center;
}

p {
    font-size: 3rem;
}

nav  {
    position: fixed;
    top: 2%;
    right: 2%;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    padding: 3rem;
    font-size: 2rem;
    text-align: center;
    background: red;
}